@using System.Collections.Generic;
@page "/switch"

<h3>Element</h3>

@foreach(var person in Persons)
{
<div > 
    Hello ,it's @person.FirstName @person.LastName
    <button @onclick="()=> Callback(person)">switch</button>
    @if (person.ChangeColor == true)
    {
        <div class="box red"></div>
    }
    else
    {
        <div class="box green"></div>
    }
</div>
}

@code {

    public List<Person> Persons = new List<Person>();
    private Person e1 = new Person("Emna", "BenAyed");
    private Person e2 = new Person("Khaldoun", "Aissaoui");
    private Person e3 = new Person("Hedia", "Bouricha");
    private Person e4 = new Person("Salim", "Aissaoui");
    protected override Task OnInitializedAsync()
    {
        Persons.Add(e1);
        Persons.Add(e2);
        Persons.Add(e3);
        Persons.Add(e4);
        return base.OnInitializedAsync();
    }


    void Callback(Person person)
    {
        foreach (var element in Persons)
        {
            if (element == person)
            {
                person.ChangeTheColor();
            }
            else
            {
                element.Initial();
            }
        }
    }

}
